{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="card border-primary col-md-4 offset-md-4">
        <div class="card-header" style="text-align: center; font-size: large;"> Inscription </i> </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email,{label: 'Email'}) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms,{label: 'Accepter les termes'}) }}

                    <button type="submit" class="btn btn-primary" style="float: right;">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
    </div>

    

    

    <style>
        .required:after { 
            content:"*";
            color: red; 
        }
    </style>
{% endblock %}
