{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}
    <h1 class="display-4 mt-5 mb-5" style="text-align: center;">Liste des Entreprises</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Entreprise</th>
                <th scope="col">Adresse</th>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Telephone</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.ville }} </td>
                <td>{{ entreprise.codePostal }} </td>
                <td>{{ entreprise.telephone }} </td>
                <td>{{ entreprise.email }} </td>
                <td>{{ entreprise.typeEntreprise }} </td>
                <td>
                    <a class="btn btn-btn btn-success btn-md ml-2"  href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">
                        <i class="fas fa-edit">Editer</i>
                    </a>
                    <a class="btn btn-danger btn-md ml-2"  href="{{ path('entreprise_delete', {'id': entreprise.id}) }}">
                        <i class="far fa-trash-alt">Supprimer</i>
                    </a>
                </td>
    
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Pas d'entreprises trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('entreprise_new') }}"> + Créer une nouvelle entreprise</a> 
    </div>
{% endblock %}
