{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}

<div class="row">
{% for entreprise in entreprises %}
<div class="card mb-3 col-md-2 ml-4">
    <h3 class="card-header"  style="text-align: center;"> {{ entreprise.nom }}</h3>
    <div class="card-body">
      <h5 class="card-title">{{ entreprise.adresse }}</h5>
      <h6 class="card-subtitle text-muted">{{ entreprise.codePostal }} {{ entreprise.ville }}</h6>
    </div>
    <ul class="list-group list-group-flush">
        {% if entreprise.typeEntreprise == 0 %}
            <li class="list-group-item"> <span class="badge badge-primary">Stage</span> </li> 
        {% endif %}
        {% if entreprise.typeEntreprise == 1 %}
            <li class="list-group-item"> <span class="badge badge-primary">Alternance</span> </li>
        {% endif %}
        {% if entreprise.typeEntreprise == 2 %}
            <li class="list-group-item"> <span class="badge badge-primary">Stage / Alternance </span> </li>
        {% endif %}
      <li class="list-group-item"> {{ entreprise.email }} </li>
      <li class="list-group-item"> {{ entreprise.telephone }} </li>
    </ul>
    <div class="card-body">
      <a class="btn btn-btn btn-success btn-sm"  href="{{ path('entreprise_edit', {'id': entreprise.id}) }}"><i class="fas fa-edit">Editer</i></a>
      <a class="btn btn-danger btn-sm"  href="{{ path('entreprise_delete', {'id': entreprise.id}) }}"><i class="far fa-trash-alt">Supprimer</i></a>
    </div>
  </div>
{% endfor %}
</div>

<div>
    <a id="btnNouveau" href="{{ path('entreprise_new') }}"> + Créer une nouvelle entreprise</a> 
</div>

    <style>
        caption {
            color: #000000;
        }

        #btnNouveau{
            color: #ff0000;
            font-size: 20px;
        }
    </style>
{% endblock %}
