{% extends 'base.html.twig' %}

{% block title %}Entreprise index{% endblock %}

{% block body %}
    <h1>Entreprise index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>CodePostal</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>TypeEntreprise</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.nom }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.ville }}</td>
                <td>{{ entreprise.codePostal }}</td>
                <td>{{ entreprise.telephone }}</td>
                <td>{{ entreprise.email }}</td>
                <td>{{ entreprise.typeEntreprise }}</td>
                <td>
                    <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}">show</a>
                    <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('entreprise_new') }}">Create new</a>
{% endblock %}
