{{ form_start(form, {attr: {class: 'filter'}}) }}
    {{ form_row(form.stringSearch) }}

    <h4>Entreprises</h4>
    {{ form_row(form.entreprise) }}

    <h4>Promotions</h4>
    {{ form_row(form.promotion) }}

    <button type="submit" class="btn btn-primary w-100"> Filtrer </button>
    <a class="btn btn-primary btn-md"  href="export">Export</a>
{{ form_end(form) }}
<form>
    <input type="file" id="file" name="file">
    <button type="submit" class="btn btn-primary w-100"> Upload </button>
</form>