{{ form_start(form) }}
    {{ form_row(form.stringSearch) }}
    {{ form_row(form.entreprise) }}
    {{ form_row(form.promotion) }}

    <button type="submit" class="btn btn-primary">Filtrer </button>
{{ form_end(form) }}