{{ form_start(form) }}
    {{ form_widget(form) }}
    <label>Entreprise</label>
    <br />
    <input>{{contact.entreprise}}</input>
    <br />
    <a class="bouton-bleu" href="{{ path('entreprise_new') }}" >Créer une nouvelle entreprise</a>
    <br />
    <label>promotion</label>
    <br />
    <input>{{contact.promotion}}</input>
    <br />
    <a class="bouton-bleu" href="{{ path('promotion_new') }}">Créer une nouvelle promotion</a>
    <br />
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
