{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <h1 class="display-4 mt-5 mb-5" style="text-align: center;">Liste des Contacts</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Adresse</th>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Telephone</th>
                <th scope="col">Email</th>
                <th scope="col">Fonction</th>
                <th scope="col">Entreprise</th>
                <th scope="col">Promotion</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.adresse }}</td>
                <td>{{ contact.ville }} </td>
                <td>{{ contact.codePostal }} </td>
                <td>{{ contact.telephone }} </td>
                <td>{{ contact.email }} </td>
                <td>{{ contact.fonction }} </td>
                <td>{{ contact.entreprise }} </td>
                <td>{{ contact.promotion }} </td>
                <td>
                    <td>
                        <a class="btn btn-btn btn-success btn-md ml-2"  href="{{ path('contact_edit', {'id': contact.id}) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger btn-md ml-2"  href="{{ path('contact_delete', {'id': contact.id}) }}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </td>
    
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Pas de contacts trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ path('contact_new') }}"> + Créer un nouveau contact</a> 
    </div>
{% endblock %}
