{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
<!--
<div class="row bg-secondary">
        <h3 class="col-md-3">Liste des Contacts</h3>
        <h4 class="col-md-3 offset-md-6" style="font-weight: bold;">Filtres</h4>
    </div> 
-->
    <div>
        {% include 'contact/_filter.html.twig' with {form: form } only %}
    </div>
    <div class="row">
        {% for contact in contacts %}
        <div class="card mb-3 col-md-3 ml-4">
            <h3 class="card-header"  style="text-align: center;"> {{ contact.prenom }} {{ contact.nom }}</h3>
            <div class="card-body">
              <h5 class="card-title">{{ contact.adresse }}</h5>
              <h6 class="card-subtitle text-muted">{{ contact.codePostal }} {{ contact.ville }}</h6>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="badge badge-primary"> {{ contact.fonction }}</span>
                    {% if contact.promotion %}
                        <span class="badge badge-primary"> Promo : {{ contact.promotion }}</span>
                    {% endif %}
                    {% if contact.entreprise %}
                        <span class="badge badge-primary"> {{ contact.entreprise }} </span>
                    {% endif %}
                </li> 
                <li class="list-group-item"> {{ contact.email }} </li>
                <li class="list-group-item"> {{ contact.telephone }} </li>
            </ul>
            <div class="card-body" style="display: flex; align-items: center; justify-content: center;">
              <a class="btn btn-btn btn-success btn-md mr-2"  href="{{ path('contact_edit', {'id': contact.id}) }}"><i class="fas fa-edit">Editer</i></a>
              <a class="btn btn-danger btn-md"  href="{{ path('contact_delete', {'id': contact.id}) }}"><i class="far fa-trash-alt">Supprimer</i></a>
            </div>
          </div>
        {% endfor %}
        </div>
    
    <div>
        <a id="btnNouveau" href="{{ path('contact_new') }}"> + Créer un nouveau contact</a> 
    </div>

    <style>
        caption {
            color: #000000;
        }

        .btn-primary {
            color: #000;
            margin-bottom: 10px;
        }

        #btnNouveau{
            color: #ff0000;
            font-size: 20px;
        }
     
    </style>
{% endblock %}


